{% extends 'registration/plantilla.html'%}

{% block contenido %}
{% block header %}
{% endblock header %}


{% load static %}
<body>
{% if validlink %}

<h1>nueva contra</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.new_password1.errors }}
    <label for="id_new_password1">nueva contraseña:</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">confirma contraseña:</label>{{ form.new_password2 }}
    <input type="submit" value="cambiar mi contraseña" />
</form>

{% else %}

<h1>ENLACE INVALIDO ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}
</body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}