{% extends 'registration/plantilla.html'%}

{% block contenido %}
{% block header %}
{% endblock header %}


{% load static %}
<body>
        <br><br><br><br>
    <div class="containerInicio texto-blanco centrado">
{% if validlink %}

<h3>Nueva contraseña</h3>

<form method="POST">
    {% csrf_token %}
    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña: </label>
    {{ form.new_password1 }}
    <br>
    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirma contraseña: </label>{{ form.new_password2 }}
    <br>
    <input class="btn btn-primary button" type="submit" value="cambiar mi contraseña" />
</form>

{% else %}

<h1>ENLACE INVALIDO ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

</div>
</body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}