{% extends 'registration/plantilla.html'%}

{% block contenido %}
{% block header %}
{% endblock header %}


{% load static %}
<body>
    <br><br><br><br>
    <div class="containerInicio texto-blanco centrado">
        <h3>Recuperar contraseña</h3>
        <form method="POST">        
            {% csrf_token %}       
            <label for="id_email">Correo:</label> {{ form.email }}
            <input class="btn btn-primary button" type="submit" value="Enviar"/>
        </form>
    </div>
</body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}