{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}

{% load static %}
<body class="bodyInicio">
    <div class="container" >
        <h2>Iniciar sesión</h2>

  <form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
  </form>

  <hr />
  
  <a href="/register">Registrar usuario</a>
    <p1>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p1>
    <p1>¿No tienes una cuenta? <a class="link" href="Registro.html">Registrate </a></p1>
    </div>
    <!--JS FILES-->
    <script src="{% static 'principal/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'principal/js/jquery.validate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'principal/js/bootstrap.js' %}" ></script>
    <script src="{% static 'principal/js/app.js' %}"></script>
</body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}
