{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}

{% load static %}
  <body class="containerPerfil">
  <div class="containerInicio texto-blanco centrado labelPerfil">
  <form>
    <h3>Datos Personales</h3>
    <label>Nombre de usuario: </label> <b>{{request.user.username}}</b>
    <br>
    <label>Nombre: </label> <b>{{request.user.first_name}}</b>
    <br>
    <label>Apellido: </label> <b>{{request.user.last_name}}</b>
    <br>
    <label>Correo electronico: </label> <b>{{request.user.email}}</b>
    <br>
    <label>Fecha en que te uniste anuestra comunidad: </label> <b>{{request.user.date_joined}}</b>
    </form>
    <a href="/principal.html"><i class="fas fa-5x fa-arrow-circle-left"></i></a>
    

  </div>
  </body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}



