{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}
{% load static %}

<body>
    <div class="containerJuego texto-blanco centrado" >
    <form>
    <h1 style="color: chartreuse;">Aquí se visualizan tus datos de usuarios</h1>
    <label for="">Nombre de usario: {{request.user.username}} </label>
    <br>
    <label for="">Nombre: {{request.user.first_name}}</label>
    <br>
    <label for="">Apellido: {{request.user.last_name}} </label>
    <br>
    <label for="">Correo electrónico: {{request.user.email}} </label>
    <br>
    <label for="">Comuna: </label>
    <br>
    <label for="">Fecha de nacimiento: {{request.user.date_joined}}</label>
    </form>
    <a href="/principal.html"><i class="fas fa-5x fa-arrow-circle-left"></i></a>
    </div>  
</body>

<div class="form-group">
        <label for="imagen">Seleccione una foto de perfil</label>
        <input name="archivo1" type="file" class="form-control" id="archivo1">
      </div>
      <div class="form-group">
          <label for="Comuna">Comuna </label>
          <br>
          <select name="Comuna" class="form-control selectpicker " >
              <option class="btn-primary" >Huechuraba</option>
              <option class="btn-primary">Las condes</option>
              <option class="btn-primary">Renca</option>
              <option class="btn-primary">Quilicura</option>
              <option class="btn-primary">Conchalí</option>
              <option class="btn-primary">Providencia</option>
              <option class="btn-primary">Macul</option>
              <option class="btn-primary">Ñuñoa</option>
              <option class="btn-primary">Renca</option>
              <option class="btn-primary" selected> </option>
          </select>  
      </div>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}