{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}

{% load static %}
  <body class="bodyInicio">
  <div class="containerInicio texto-blanco" >
  <h2 class="h2">Registro de usuario</h2>

  <form method="POST" class="form-group">
    {% csrf_token %}
    <div class="form-group">
      <label for="nombre">Nombre </label>
      <input type="text" height="50" class="form-control" name="username" placeholder="Ingrese su nombre">  
    </div>
    <div class="form-group">
      <label>Contraseña:</label>
      <input type="password" class="form-control" name="password1" minlength="6" maxlength="20" placeholder="Ingrese su contraseña">
    </div>
    <div class="form-group">
      <label>Reingresa contraseña: </label>
      <input type="password" class="form-control" name="password2" minlength="6" maxlength="20" placeholder="Ingrese nuevamente su contraseña">
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" class="form-control" name="email" placeholder="Ingrese su correo">   
    </div>
    <button type="reset" class="btn btn-primary button">Limpiar</button>
    <button type="submit" class="btn btn-primary button">Registrar</button>
  </form>
  <p1>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p1>
  <p1>¿Ya tienes una cuenta?<a href="/login">Iniciar sesión</a></p1>
  <p class="centrado">Plante© 2019</p>

  </div>
  </body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}
