{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}

{% load static %}
  <body class="bodyInicio">
  <div class="containerInicio texto-blanco" >
  <div class="row">
    <div class="col-lg-10">
        <h2 class="h2">Registro de usuario</h2>
    </div>
    <br>
    <div class="col-lg-1">
        <a class="nav-item active hint--left hint--info hint--rounded hint--bounce" aria-label="Usuario"" href="#">
            <i class="fas fa-3x fa-user"></i>
        </a>
    </div>
    <div class="col-lg-1">
        <a class="nav-item hint--right hint--info hint--rounded hint--bounce" aria-label="Administrador"" href="#">
            <i class="fas fa-3x fa-user-tie" style="color: white;"></i>
        </a>
    </div>
  </div>
  

  <form method="POST" class="form-group" id="registro">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="reset" class="btn btn-primary button">Limpiar</button>
    <button type="submit" class="btn btn-primary button">Registrar</button>
  </form>
  <p1>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p1>
  <p1>¿Ya tienes una cuenta?<a href="/login">Iniciar sesión</a></p1>
  <p class="centrado">Plante© 2019</p>

  </div>
  </body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}
