{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% block header %}
{% endblock header %}

{% load static %}
  <body class="bodyInicio">
  <div class="container texto-blanco" >
  <h2 class="h2">Registro de usuario</h2>

  <form method="POST" class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="reset" class="btn btn-primary button">Limpiar</button>
    <button type="submit" class="btn btn-primary button">Registrar</button>
  </form>
  <p1>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p1>
  <p1>¿Ya tienes una cuenta?<a href="/login">Iniciar sesión</a></p1>
  <p class="centrado">Plante© 2019</p>

  </div>
  </body>
{% block footer %}
{% endblock footer %}
{% endblock contenido %}
