<!--Esta es la ventana del jeugo del cuestionario-->

{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% load static %}
<body>
    <div>
        <ul class="containerInicio  centrado">
            <div class="containerJuego centrado">
                <h2>¿Crees que aprendiste?</h2>
                <h2>Averigualo</h2>
            <div>
                <div class="countdown"><span class="time_left">12s</span></div>
                <div class="points"><span class="points">0 points</span></div>
            </header>
            <div class="start">
                <div class="card">
                <p>¿Listo para comenzar?</p>
                <button class="start boton" style="background-color: red;">Comenzar</button>
                </div>
            </div>
            <div class="play">
                <div class="questions"></div>
            </div>
            <div class="finish card">
                <p class="times_up">¡Se acabó el tiempo!</p>
                <p>Has obtenido</p>
                <p class="final_points">8 puntos</p>
                <div class="play_again">  
                <button>Volver a jugar</button>
                </div>
            </div>
        </ul>
    </div>
</body>

{% endblock contenido %}