{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% load static %}

<Header>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand " href="#">
        <acronym  title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Inicio">
            <a class="nav-link" href="/principal.html">
                <i class="fas fa-2x fa-home"></i>  Inicio
            </a>
            </li>
            <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Información">
            <a class="nav-link" style="color:#008BDB;" href="/informacion.html">
                <i class="fas fa-2x fa-info-circle"></i> Información
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Mapas">
            <a class="nav-link" href="/mapas.html">
                <i class="fas fa-2x fa-map-marked-alt"></i> Ubicaciones
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Juegos">
            <a class="nav-link" href="/juegos.html">
                <i class="fas fa-2x fa-gamepad"></i> Juegos
            </a>
            </li>
            <li class="nav-item dropdown texto blanco nav-item hint--right hint--info hint--rounded hint--bounce" aria-label="Ajustes" >
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-2x fa-user-cog"></i> Configuración </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01" style="background-color: #008BDB;">
                <a class="dropdown-item" href="#">
                    <i class="far fa-2x fa-user"></i> Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-2x fa-unlock-alt"></i> Cambiar contraseña
                </a>
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-2x fa-sign-out-alt"></i> Cerrar sesión
                </a>
              </div>
            </li>
        </ul>
        </div>   
    </nav>   
</Header>

<div class="containerPrincipal texto-blanco centrado">
        <div class="col-xs-12 col-sm-10 margin-top-xs center ">
            <span class="texto-borde" style="font-size: 53px"> Colores del reciclaje </span>
            <p>En este punto te enseñaremos los distintos tipos de colores que tienen los basureros y las distintas funcionalidades que estos tienen</p>
          </div>
          <br>
          <div class="row">
          <div class="container col-md-4 col-xs-12">
              <h2 style="color: yellow;">Basurero amarillo</h2>
              <a data-fancybox="gallery" href="{% static 'principal/img/basureroamarilllo.jpg' %}">
                <img src="{% static 'principal/img/basureroamarilllo.jpg' %}" class="img-fluid img-margin-top" alt="basureroamarilllo"width="250"  srcset="">
              </a>
              <div class="overlay" style="background-color: yellow;">
                <div class="text">
                    <i class="fas fa-apple-alt"></i>
                        Aquí se depositan latas y residuos de plásticos, como cervezas, botellas de bebidas, bolsas plásticas.
                    <i class="fas fa-apple-alt"></i>
                </div>
              </div>
          </div>
          <div class="container col-md-4 col-xs-12">
              <h2 style="color: blue;">Basurero azul</h2>
              <a data-fancybox="gallery" href="{% static 'principal/img/basureroazul.jpg' %}">
                <img src="{% static 'principal/img/basureroazul.jpg' %}" class="img-fluid img-margin-top" alt="basureroazul" width="250" srcset="" >
              </a>
              <div class="overlay" style="background-color: blue;">
                <div class="text">
                    <i class="fas fa-paper-plane"></i>
                       Aquí se botan papeles y cartones, como cajas de alimnetos, envases de cartón, revistas, periódicos, folletos entre otros.
                   <i class="fas fa-toilet-paper"></i>
                </div>
              </div>
          </div>
  
            <div class="container col-md-4 col-xs-12">
                <h2 style="color: red;">Basurero rojo</h2>
                <a data-fancybox="gallery" href="{% static 'principal/img/basurerorojo.jpg' %}">
                  <img src="{% static 'principal/img/basurerorojo.jpg' %}" class="img-fluid img-margin-top" alt="basurerorojo" width="250" srcset="">
                </a>
                <div class="overlay" style="background-color: red;">
                  <div class="text">
                      <i class="fas fa-car-battery"></i>
                          En este contenedor se botan los desechos peligrosos, como baterias, pilas, insecticidas, aceites, aerosoles, o productos tecnológicos.
                      <i class="fas fa-laptop"></i>
                  </div>
                </div>
            </div>
          </div>
          <br>
        <div class="row xs-12">
        <div class="container col-md-4 col-xs-12">
            <h2 style="color: green;">Basurero verde</h2>
            <a data-fancybox="gallery" href="{% static 'principal/img/basureroverde.jpg' %}">
              <img src="{% static 'principal/img/basureroverde.jpg' %}" class="img-fluid img-margin-top" alt="basureroverde" width="250" srcset="">
            </a>
            <div class="overlay" style="background-color: green;">
              <div class="text">
                  <i class="fas fa-wine-bottle"></i>
                      En este contenedor se depositan envases de vidrio, como las botellas de bebidas alcohólicas.
                  <i class="fas fa-glass-cheers"></i>
              </div>
            </div>
        </div>

          <div class="container col-md-4 col-xs-12">
              <h2 style="color: grey;">Basurero gris</h2>
              <a data-fancybox="gallery" href="{% static 'principal/img/basurerogris' %}">
                <img src="{% static 'principal/img/basurerogris' %}" class="img-fluid img-margin-top" alt="basurerogris" width="250" srcset="">
              </a>
              <div class="overlay" style="background-color: grey;">
                <div class="text">
                    <i class="fas fa-carrot"></i>
                        En estos contenedores se deposita el resto de la basura, es decir, la que no va en ningún otro contenedor.
                    <i class="fas fa-carrot"></i>
                </div>
              </div>
          </div>
          <div class="container col-md-4 col-xs-12">
              <h2 style="color: orange;">Basurero naranja</h2>
              <a data-fancybox="gallery" href="{% static 'principal/img/basureronaranjo.jpg' %}">
                <img src="{% static 'principal/img/basureronaranjo.jpg' %}" class="img-fluid img-margin-top" alt="basureronaranjo" width="250" srcset="">
              </a>
              <div class="overlay" style="background-color: orange;">
                <div class="text">
                    <i class="fas fa-apple-alt"></i>
                        Aunque es dificil de encontrar, se arrojan los materiales orgánico, ya sean cascaras de frutas, restos de verduras o comidas orgánicas.
                    <i class="fas fa-drumstick-bite"></i>
                </div>
               </div>
          </div>
        </div>
        <br>
        <br>
        <h3 style="color: white;">¿No te ha quedado claro?, pues aquí dejamos algunos videos que pueden ayudarte a entender mejor</h3>
                    <br>
                    <div id="myCarousel" class="carousel slide centrado" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <iframe class="bd-placeholder-img" width="500" height="400" src="https://www.youtube-nocookie.com/embed/YiHTNfKJwAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                          <div class="carousel-item">
                              <iframe class="bd-placeholder-img" width="500" height="400" src="https://www.youtube-nocookie.com/embed/u-WwWuUh1jw?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                          </div>
                          <div class="carousel-item ">
                            <iframe class="bd-placeholder-img" width="500" height="400" src="https://www.youtube-nocookie.com/embed/-UFFFUTMlCw?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li id="linav" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li id="linav" data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li id="linav" data-target="#myCarousel" data-slide-to="2" class=""></li>
                        </ol>
                    </div>
              </div>     
        
</div>
{% endblock contenido %}