{% extends 'principal/plantillaPrincipal.html'%}
{% block contenido %}
{% load static %}
<Header>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand " href="#">
        <acronym  title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Inicio"">
            <a class="nav-link"  href="/principal.html">
                <i class="fas fa-2x fa-home"></i>  Inicio
            </a>
            </li>
            <li class="texto blanco nav-item active  hint--bottom hint--info hint--rounded hint--bounce" aria-label="Información">
            <a class="nav-link" style="color:#008BDB;" href="/informacion.html">
                <i class="fas fa-2x fa-info-circle"></i> Información
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Formulario">
            <a class="nav-link" href="/mapas.html">
                <i class="fas fa-2x fa-map-marked-alt"></i> Ubicaciones
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Juego"">
            <a class="nav-link" href="/juegos.html">
                <i class="fas fa-2x fa-gamepad"></i> Juegos
            </a>
            </li>
        </ul>
        </div>
    </nav>
</Header>
<div class="container texto-blanco centrado">
        <div class="col-xs-12 col-sm-10 margin-top-xs center ">
            <span class="texto-borde" style="font-size: 53px"> Colores del reciclaje </span>
            <p>En este punto te enseñaremos los distintos tipos de colores que tienen los basureros y las distintas funcionalidades que estos tienen</p>
            <img src="{% static 'principal/img/colores.jpg' %}" width="400" alt="">
          </div>
          <br>
          <div class="col-xs-12 col-sm-10 margin-top-xs center ">
              <h2 style="color: yellow;">Basurero amarillo</h2>
              <p>En los contenedores amarillos se deben depositar todo tipo de envases y productos fabricados con plásticos como botellas, envases de alimentación o bolsas.</p>
              <a data-fancybox="gallery" href="{% static 'principal/img/basureroamarilllo.jpg' %}">
                <img src="{% static 'principal/img/basureroamarilllo.jpg' %}" class="img-fluid img-margin-top" alt="basureroamarilllo"width="250"  srcset="">
              </a>
          </div>
            <br>
        <div class="col-xs-12 col-sm-10 margin-top-xs center">
          <h2 style="color: blue;">Basurero azul</h2>
          <p>En este contenedor de color azul, se deben depositar todo tipo de papeles y cartones, que podremos encontrar en envases de cartón como cajas o envases de alimentos. Periódicos, revistas, papeles de envolver o folletos publicitarios entre otros.</p>
          <a data-fancybox="gallery" href="{% static 'principal/img/basureroazul.jpg' %}">
            <img src="{% static 'principal/img/basureroazul.jpg' %}" class="img-fluid img-margin-top" alt="basureroazul" width="250" srcset="" >
          </a>
        </div>
        <br>
        <div class="col-xs-12 col-sm-10 margin-top-xs center ">
            <h2 style="color: red;">Basurero rojo</h2>
            <p>Los contenedores rojos de reciclaje, aunque poco habituales, son muy útiles y uno de los que evitan una mayor contaminación ambiental. Podemos considerarlos para almacenar desechos peligrosos como baterias, pilas, insecticidas, aceites, aerosoles, o productos tecnológicos.</p>
            <a data-fancybox="gallery" href="{% static 'principal/img/basurerorojo.jpg' %}">
              <img src="{% static 'principal/img/basurerorojo.jpg' %}" class="img-fluid img-margin-top" alt="basurerorojo" width="250" srcset="">
            </a>
          </div>
          <br>
          <div class="col-xs-12 col-sm-10 margin-top-xs center ">
              <h2 style="color: green;">Basurero verde</h2>
              <p>En este contenedor se depositan envases de vidrio, como las botellas de bebidas alcohólicas.</p>
              <a data-fancybox="gallery" href="{% static 'principal/img/basureroverde.jpg' %}">
                <img src="{% static 'principal/img/basureroverde.jpg' %}" class="img-fluid img-margin-top" alt="basureroverde" width="250" srcset="">
              </a>
            </div>
            <br>
            <div class="col-xs-12 col-sm-10 margin-top-xs center ">
                <h2 style="color: grey;">Basurero gris</h2>
                <p>En los contenedores de color gris, se depositan los residuos que no hemos visto hasta ahora, aunque principalmente se deposita en ellos materia biodegradable. Son los más numerosos en la gran mayoría de nucleos urbanos.</p>
                <a data-fancybox="gallery" href="{% static 'principal/img/basurerogris' %}">
                  <img src="{% static 'principal/img/basurerogris' %}" class="img-fluid img-margin-top" alt="basurerogris" width="250" srcset="">
                </a>
              </div>
              <br>
              <div class="col-xs-12 col-sm-10 margin-top-xs center ">
                  <h2 style="color: orange;">Basurero naranja</h2>
                  <p>Aunque es dificil encontrar un contenedor de color naranja, estos se utilizan exclusivamente para material orgánico. En caso de no disponer de este tipo de contenedor, como hemos comentado, utilizaríamos el gris.</p>
                  <a data-fancybox="gallery" href="{% static 'principal/img/basureronaranjo.jpg' %}">
                    <img src="{% static 'principal/img/basureronaranjo.jpg' %}" class="img-fluid img-margin-top" alt="basureronaranjo" width="250" srcset="">
                  </a>
                </div>
        <h3>¿No te ha quedado claro?, pues aquí dejamos algunos videos que pueden ayudarte a entender mejor</h3>
                    <br>
                    <div id="myCarousel" class="carousel slide centrado" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <iframe class="bd-placeholder-img" width="500" height="400" src="https://www.youtube-nocookie.com/embed/YiHTNfKJwAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                          <div class="carousel-item">
                              <iframe class="bd-placeholder-img" width="600" height="400" src="https://www.youtube-nocookie.com/embed/u-WwWuUh1jw?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                          </div>
                          <div class="carousel-item ">
                            <iframe class="bd-placeholder-img" width="600" height="400" src="https://www.youtube-nocookie.com/embed/-UFFFUTMlCw?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li id="linav" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li id="linav" data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li id="linav" data-target="#myCarousel" data-slide-to="2" class=""></li>
                        </ol>
                    </div>
              </div>     
        
</div>
{% endblock contenido %}