{% extends 'principal/plantillas.html'%}
{% load static %}
{% block contenido %}
<div class="containerJuego centrado">
  <h1>hola bienvenidos a los juegos de Plante</h1>
<div>
  <div >
      <a href="Juegos/Over Figter/index.html"><img src="img/Goku.gif" alt="Juego dbz" width="200"/></a>
  </div>
  <div >
      <a href="Juegos/pacman-master/index.htm"><img src="img/Pacman.gif" alt="Pacman dbz" width="200"/></a>
  </div>
  <div >
      <a href="Juegos/flappy edit/index.html"><img src="img/vegeta.gif" alt="vegeta dbz" width="200"/></a>
  </div>
</div>
</div>

{% endblock contenido %}