{% extends 'principal/plantillaPrincipal.html'%}
{% load static %}
{% block contenido %}
<Header>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand " href="#">
        <acronym  title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Inicio"">
            <a class="nav-link"  href="/principal.html">
                <i class="fas fa-2x fa-home"></i>  Inicio
            </a>
            </li>
            <li class="texto blanco nav-item  hint--bottom hint--info hint--rounded hint--bounce" aria-label="Información">
            <a class="nav-link" href="/informacion.html">
                <i class="fas fa-2x fa-info-circle"></i> Información
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Formulario">
            <a class="nav-link" href="/mapas.html">
                <i class="fas fa-2x fa-map-marked-alt"></i> Ubicaciones
            </a>
            </li>
            <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Juego"">
            <a class="nav-link" style="color:#008BDB;" href="/juegos.html">
                <i class="fas fa-2x fa-gamepad"></i> Juegos
            </a>
            </li>
        </ul>
        </div>
    </nav>
</Header>
<div class="containerJuego centrado">
  <h1>hola bienvenidos a los juegos de Plante</h1>
<div>
  <div >
      <a href="Juegos/Over Figter/index.html"><img src="img/Goku.gif" alt="Juego dbz" width="200"/></a>
  </div>
  <div >
      <a href="Juegos/pacman-master/index.htm"><img src="img/Pacman.gif" alt="Pacman dbz" width="200"/></a>
  </div>
  <div >
      <a href="Juegos/flappy edit/index.html"><img src="img/vegeta.gif" alt="vegeta dbz" width="200"/></a>
  </div>
</div>
</div>

{% endblock contenido %}