{% extends 'principal/plantillaPrincipal.html'%}
{% load static %}
{% block contenido %}

<Header>
    <nav class="navbar navbar-expand-lg navbar-dark header">
        <a class="navbar-brand " href="#">
        <acronym  title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Inicio">
            <a class="nav-link" href="/principal.html">
                <i class="fas fa-2x fa-home"></i>  Inicio
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Información">
            <a class="nav-link" href="/informacion.html">
                <i class="fas fa-2x fa-info-circle"></i> Información
            </a>
            </li>
            <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Mapas">
            <a class="nav-link" href="/mapas.html">
                <i class="fas fa-2x fa-map-marked-alt"></i> Ubicaciones
            </a>
            </li>
            <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Juegos">
            <a class="nav-link" style="color:#008BDB;" href="/juegos.html">
                <i class="fas fa-2x fa-gamepad"></i> Juegos
            </a>
            </li>
            <li class="nav-item dropdown texto blanco nav-item hint--right hint--info hint--rounded hint--bounce" aria-label="Ajustes" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-2x fa-user-cog"></i> Configuración </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" style="background-color: #008BDB;">
                <a class="dropdown-item" href="#">
                    <i class="far fa-2x fa-user"></i> Perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-2x fa-unlock-alt"></i> Cambiar contraseña
                </a>
                <a class="dropdown-item" href="/logout">
                    <i class="fas fa-2x fa-sign-out-alt"></i> Cerrar sesión
                </a>
                </div>
            </li>
        </ul>
        </div>   
    </nav>   
</Header>
<br>
<div class="containerJuego centrado">
  <h2 style="color: black;" >Hola bienvenidos a los juegos de Plante</h2>
<div>
  <div >
      <a href="{% static 'principal/juegos/Over Figter/index.html' %}"><img src="{% static 'principal/img/basurerocomiendo.gif' %}" alt="Juego dbz" width="200"/></a>
  </div>  
</div>
</div>

 <ul class="containerPrincipal  centrado">
            <div class="containerJuego centrado">
                <h2 style="color: black;" >¿Crees que aprendiste?</h2>
                <h2 style="color: black;">Averigualo</h2>
            <div>
              <div class="countdown"><span class="time_left">12s</span></div>
              <div class="points"><span class="points">0 points</span></div>
            </header>
            <div class="start">
              <div class="card">
                <p>¿Listo para comenzar?</p>
                <button class="start">Comenzar</button>
              </div>
            </div>
            <div class="play">
              <div class="questions"></div>
            </div>
            <div class="finish card">
              <p class="times_up">¡Se acabó el tiempo!</p>
              <p>Has obtenido</p>
              <p class="final_points">8 puntos</p>
              <div class="play_again">  
                <button>Volver a jugar</button>
              </div>
            </div>
   </ul>

{% endblock contenido %}