<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plante</title>
    <link rel="stylesheet" href="{% static 'principal/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'principal/img/logo.png' %}">
  </head>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark header">
                <a class="navbar-brand" href="#">
                    <acronym title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Home'%}">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Info'%}">Información</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'Formulario'%}">Formulario</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="Juego.html">Juego</a>
                    </li>
                 </ul>
                </div>
  </nav>
</header>

{% block contenido %}

{% endblock contenido %}

<footer>
    <div class="row footer ">
        
        <div class="col-xs-12 col-sm-4 no-xs"><h3 class="texto-blanco">
          <acronym title="Plante" lang="es"> <img src="{% static 'principal/img/logo2.png' %}" alt="logo" height="50"></acronym>
         Organización Plante</h3></div>
         
        <div class="col-xs-12 col-sm-4 no-xs">
          <h4 class=" centrar texto-blanco">Recicla Reutiliza Reduce </h4>
        </div>
     
        <div class="col-xs-12 col-sm-4">
          <div class="row center-xs">
            <ul class="center">
              <li>
                <a class="texto-blanco" href="#">
                   <i class="fab fa-3x fa-facebook-square"></i> 
              </a>
            </li>
              <li>
                <a class="texto-blanco" href="#">
                    <acronym title="Instagram" lang="es"> <i class="fab fa-3x fa-instagram"></i></i></acronym>
                  
                </a>
              </li>
              <li>
                <a class="texto-blanco" href="#">
                  <acronym title="Twitter" lang="es"> <i class="fab fa-3x fa-twitter-square"></i></i></acronym>
                
                </a>
              </li>
              <li>
                <a class="texto-blanco" href="#">
                    <acronym title="Whatsapp" lang="es"> <i class="fab fa-3x fa-whatsapp"></i></i></acronym>
                  
                </a>
              </li>
            </ul>
          </div>
        </div>
  </div>


   <li class="row footer">
 
      <a class="nav-link " href="terminos.html">

        Términos y condiciones
      </a>
  
  </li>
</footer>

    
    <!--JS FILES-->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js" ></script>
    <script src="js/app.js"></script>
  </body>
</html>