<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plante</title>
    <link href="https://fonts.googleapis.com/css?family=Andika|El+Messiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'principal/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/hint.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="shortcut icon" href="{% static 'principal/img/logo.png' %}">
</head>

{% block contenido %}

{% endblock contenido %}

</html>