<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plante</title>
    <link href="https://fonts.googleapis.com/css?family=Andika|Luckiest+Guy|Cinzel+Decorative|Alfa+Slab+One|Viga|Slabo+27px|El+Messiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'principal/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'principal/css/hint.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="shortcut icon" href="{% static 'principal/img/logo.png' %}">
</head>
<body>
  <Header>
    <nav class="navbar navbar-expand-lg navbar-dark header">
      <a class="navbar-brand " href="#">
        <acronym  title="Plante" lang="es"> <img src="{% static 'principal/img/logo.png' %}" alt="logo" height="50"></acronym>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Inicio"">
            <a class="nav-link" href="principal.html">
              <i class="fas fa-2x fa-home"></i>  Inicio
            </a>
          </li>
          <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Información">
            <a class="nav-link" style="color:#008BDB;" href="informacion.html">
              <i class="fas fa-2x fa-info-circle"></i> Información
            </a>
          </li>
          <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Formulario">
            <a class="nav-link" href="formulario.html">
              <i class="fas fa-2x fa-map-marked-alt"></i> Ubicaciones
            </a>
          </li>
          <li class="texto blanco nav-item hint--bottom hint--info hint--rounded hint--bounce" aria-label="Juego"">
            <a class="nav-link" href="juego.html">
              <i class="fas fa-2x fa-gamepad"></i> Juegos
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </Header>
	
    {% block contenido %}

    {% endblock contenido %}

    <footer>
        <div class="row footer ">
            <div class="col-xs-12 col-sm-4 no-xs">
                <h3 class="texto-blanco"><acronym title="Plante" lang="es"> <img src="img/logo.png" alt="logo" height="50"></acronym>Organización Plante</h3>
                <li class="row footer">
                    <a class="nav-link " href="terminos.html">Términos y condiciones</a>
                </li>
            </div>            
            <div class="col-xs-12 col-sm-4 no-xs">
                <h4 class=" centrar texto-blanco">Recicla Reutiliza Reduce </h4>
            </div>     
            <div class="col-xs-12 col-sm-4">
                <div class="row center-xs">
                    <ul class="center">
                        <div class="centrado">
                            <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Facebook">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-3x fa-facebook-square" style="color: #3b5998 ;" ></i>
                                </a>
                            </li>
                            <li class="texto blanco nav-item active hint--bottom hint--warning hint--rounded hint--bounce " aria-label="Instagram">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-3x fa-instagram" style="color: #F15786;"></i>
                                </a>
                            </li>
                            <li class="texto blanco nav-item active hint--bottom hint--info hint--rounded hint--bounce" aria-label="Twitter">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-3x fa-twitter-square" style="color: #00acee;"></i>
                                </a>
                            </li>
                            <li class="texto blanco nav-item active hint--bottom hint--success hint--rounded hint--bounce" aria-label="Whatsapp">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-3x fa-whatsapp" style="color: #44CB77;"></i>
                                </a>
                            </li>
                        </div> 
                    </ul>
                </div>
            </div>
        </div>
    </footer>  
    <!--JS FILES-->
    <script src="{% static 'principal/js/jquery-3.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{% static 'principal/js/jquery.validate.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'principal/js/bootstrap.js' %}" ></script>
    <script src="{% static 'principal/js/app.js' %}"></script>
  </body>
</html>